* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12vh;
    background-color: plum;
}
