<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/IEM2023.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <title>IEM Cologne 2023: playoffs têm times e jogos decididos</title>
</head>
<body>

    <h1>IEM Cologne 2023</h1>

    <p>Concluída a fase de grupos, estão decididos os seis times dos playoffs e os jogos decisivos do IEM Cologne 2023, 
    campeonato internacional de Counter-Strike: Global Offensive (CS:GO) realizado em Colônia, na Alemanha. 
    FURIA e Imperial, as duas representantes brasileiras no torneio, já tinham caído na fase de entrada.</p>

    <img class="img2" src="../img/Vitality-apEX-IEM-Cologne-2023.webp" alt="Vitality">

    <p>
        Os 16 times da fase de grupos estavam divididos em duas chaves e se enfrentaram, em cada uma delas, 
        em séries melhor de três partidas  (md3), no sistema de dupla eliminação, ou seja, com chaves superior e inferior. 
        O top-3 de cada grupo avançou para os playoffs, sendo que o 1º colocado de cada chave passou diretamente para as semifinais, 
        enquanto os 2º e 3º lugares foram para as quartas de final.
        <br></br> 
        Todos os jogos dos playoffs serão disputados na tradicional Lanxess Arena.</P>

    <ul class="list-group">
        <li class="list-group-item" style="font-style: italic;">Times dos playoffs do IEM Cologne 2023</li>
        <li class="list-group-item">ENCE</li>
        <li class="list-group-item">G2 Esports</li>
        <li class="list-group-item">Vitality</li>
        <li class="list-group-item">Cloud9</li>
        <li class="list-group-item">Heroic</li>
        <li class="list-group-item">Astralis</li>
    </ul>
</body>

</html>